@font-face {
  font-family: "invisible";
  src: url(./assets/Invisible-ExtraBold.otf);
}

:root {
  --fonte-principal: "invisible";
  --cor-do-spotify: #1db954;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

header {
  height: 7vh;
  background-color: black;
  position: relative;
  z-index: 1;
}

.logo__spotfluxo {
  display: flex;
  align-items: center;
  padding: 2vh;
  /*position: relative;*/
}

.imagem_spotfluxo {
  height: 3vh;
  filter: invert();
}

/*.imagem_spotfluxo::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        mix-blend-mode: screen;
    }*/

.frase__spotfluxo {
  font-size: 16px;
  margin: 5px 0 0 2px;
  font-weight: 700;
  font-family: var(--fonte-principal);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 93vh;

  position: relative;
  isolation: isolate;
}

main::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  height: contain;

  filter: blur(3px) brightness(40%);

  background-image: linear-gradient(transparent, black),
    url(./assets/Foto_Fluxo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.entrarNoSpotFluxo {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 60vh;
  max-width: 90%;
  background-color: black;
  border-radius: 5px;
  align-items: center;
}

.entrarNoSpotFluxo h1 {
  font-size: 4vh;
  margin: 6vh 0 4vh 0;
  font-family: var(--fonte-principal);
}

.opcoes__continuar {
  display: flex;
  flex-direction: column;
}

.botao__continuar {
  color: white;
  display: flex;
  height: 30px;
  width: 230px;
  margin: 5px;
  border: 2px solid gray;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1.6vh;
  align-items: center;
  white-space: nowrap;
}

.botao__continuar:hover{
    background-color: var(--cor-do-spotify);
    transition: 400ms;

    color: black;
    font-weight: bold;
    font-size: 1.7vh;
}

.continuar__logo {
  max-width: 14px;
  margin: 0 20px 0 20px;
}

.apple {
  filter: invert();
}

.continuar__numero {
  margin: 0 auto;
}

.entrarNoSpotFluxo ul {
  list-style-type: none;
}

.login {
  margin-top: 30px;
}

.input-login {
  display: block;
  font-size: 1.4vh;
  padding: 7px 10px;
  width: 200px;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 3px;
  color: white;
  
}

.texto-usuario {
    margin: 2px;
  font-size: 12px;
  
}

.senha_container{
    position: relative;
    padding: 8px 10px;
    width: 194px;
    height: 10px;
    margin-top: 5px;
    text-align: center;
    
}

.input-senha{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    background-color: transparent;
    border-radius: 3px;
    color: white;
    font-size: 1.4vh;
    padding-left: 5px;
}

#eye{
    position: absolute;
    right: 5px;
    background: url(./assets/Blind.png);
    background-size: cover;
    width: 15px;
    height: 15px;
    cursor: pointer;    
}

#eye.hide{
    background: url(./assets/Eye.png);
    background-size: cover;
}







#checkbox{
    display: none;
}
.checkbox-modificado {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  width: 25px;
  height: 12px;
  background-color: var(--cor-do-spotify);
  border-radius: 6px;
}

.checkbox-label{
    width: 8px;
    height: 8px;
    display: block;
    cursor: pointer;
    position: relative;
    top:0;
    left:0;
    z-index: 1;
    background-color: white;
    border-radius: 9px;
    box-shadow: none;
    box-sizing: border-box;
    margin-left: .5px;

}

#checkbox:checked + .checkbox-label{
    left: 15px;
    background-color: black;
}


.lembrar_de_mim{
    display: flex;
    align-items: center;
    font-size: 1.3vh;
}

.checkbox-frase{
    margin: 5px 0 0 5px;
}



.entrar {
  display: block;
  margin: 40px 0 20px 0;
  width: 30vh;
  padding: 8px;
  background-color: var(--cor-do-spotify);
  color: black;
  border-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--fonte-principal);
}

.entrar:hover{
    background-color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: 400ms;
}

.naoTemConta {
  color: gray;
  display: inline-block;
}

.inscreva-se {
  color: white;
}

.inscrever {
  margin-top: 7vh;
  font-size: 13px;
}

.esqueceu-senha {
  margin-top: 2vh;
  font-size: 13px;
}

