*{
margin:0;
padding: 0;
}

@font-face {
    font-family:'invisible' ;
    src: url(./assets/Invisible-ExtraBold.otf);
}

:root{
    --fonte-principal: 'Invisible'
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 7vh;
    background-color: black;

}

.logo__spotfluxo{
    display: flex;
    align-items: center;
    padding: 2vh;
}

.imagem_spotfluxo{
    height: 3vh;
    filter:  invert();
    
}

.frase__spotfluxo{
    margin:5px 0 0 2px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(transparent, black), url(./assets/Foto_Fluxo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    /*filter: brightness(30%);*/
    
}

.entrarNoSpotFluxo{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 60vh;
    background-color: black;
    border-radius: 5px;
    align-items: center;
}

.entrarNoSpotFluxo h1{
    margin: 6vh 0 4vh 0;
    font-family: var(--fonte-principal);
}

.opcoes__continuar{
    display: flex;
    flex-direction: column;
    
}

.botao__continuar{
    color: white;
    display: flex;
    height: 20px;
    width: 13vw;
    padding: 11px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 40px;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    
}
.entrarNoSpotFluxo ul{
    list-style-type: none;
}

.login{
    margin-top: 30px;
}

.input-login{
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 3px;
    color: white;
}

.checkbox{
    margin: 10px;
}

.entrar{
    display: block;
    margin: 10px auto;
    width: 40%;
    padding: 10px;
    background-color: rgb(35, 187, 35);
    color: black;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--fonte-principal);
}

.naoTemConta{
    color: gray;
    display: inline-block;
}

.inscreva-se{
    color: white;
}

.inscrever{
    margin-top: 7vh;
}